/* phần đầu */
#page-top
{
	width: 100%;
	display: flex;
}
/* phần tìm kiếm thông tin */
.input-group-append button
{
	background-color:#BDBDBD;
	border: 1px solid #BDBDBD;
}
.manage
{
	list-style: none;
	display: flex;
	background-color: #343a40;
	margin-top: 5%;
}
/* phần quản lý */
/* phần của người sử dụng */
.manage2
{
	z-index: 9 !important;
  	position: fixed;
}
.manage2 .user-circle
{
  color: #A4A4A4;
}
.manage2 .user-circle1
{
  color: #A4A4A4;
}
/* phần bên trong sau khi ấn */
.manage2 .action2
{
  width: 300px;
  margin-top: 7%;
  border: 0.5px solid ;
  background-color: white;
  border-radius: 5px;
  padding-right: 70%;
  font-size: 13px;
  font-weight: bolder;
}
.manage2 .action2 .menu2 
{
  margin: 10px;

}
.manage2 .action2 .menu2 a
{
	text-decoration: none;
  	width: 100%;
  	height: 40px;
  	color: black;
}




/* phần main */
.main ul
{
	display: flex;
	border: 1px solid rgb(43, 90, 132);
	background-color: rgb(43, 90, 132);
	height: 30px;
}
.main li
{
	list-style: none;
	margin-right: 4%;
}
.main a
{
	text-decoration: none;
	color: #D8D8D8;
}
.main li:hover
{
	background-color: #819FF7;
}




/* phần menu main */
.MENU
{
	border: 1px solid #E6E6E6;
	margin-left: 7%;
	margin-right: 7%;
	display: flex;
}

/* phần menu_main */
.menu_main
{
	border: 1px solid #E6E6E6;
	width: 20%;
}
.menu_main h3
{
	background-color: #A8A8A8;
}
.menu_main ul li 
{
	list-style: none;
	margin-left: -10%;
}
.menu_main hr
{
	margin-left: -10%;
	margin-right: 10%;
}
.menu_main .menu_main1 
{
	color: #626A69;
}


/* phần melu */
.melu
{
	text-align: center;
}
.melu .title
{
	background-color: pink;
}
.melu .content
{
	text-align: left;
}
.melu h3
{
	text-align: center;
	margin-top: 1%;
	color: pink;
}
.melu table
{
	margin-left:  3%;
	margin-top: 3%;
	margin-right: -7%;
	border: 1px solid #848484;
}
.melu table a
{
	text-decoration: none;
	color: #848484;
}
/* phần thêm, xóa, cập nhật */
.melu .task
{
	text-align: left;
	margin-left: 3%;
}
.melu .task input
{
	width: 12%;
	font-size: 12px;
}


/* phần cuối */
#ja-footer
{
	text-align: center;
}
.scroll-to-top 
{
	margin-left: 97%;
}



/* phần chỉnh sửa */
.title-module
{
	width: 100%;
}
.title-module h3
{
	text-align: center;
	margin-top: 2%;
}
.title-module form
{
	margin-left: 5%;
}
.title-module td
{
	font-size: 12px;
}

/* phần thời khóa biểu */
.melu .filter
{
	display: flex;
	margin-left: 6%;
	margin-top: 2%;
}
.melu .row-first
{
	background-color: pink;
}
.melu .col-first
{
	background-color: #81BEF7;
}




#bd1
{
	display: none;
}
/* phần responside */
@media only screen and (max-width: 1050px) 
{
	/* topAdmin */
	.manages 
	{
		width: 20%;
		margin-left: 80%;
		margin-top: -6%;
	}
	/* main */
	#bd
	{
		display: block;
	}
	#bd1
	{
		display: none;
	}
	.manage2
	{
		display: flex;
	}
	.main ul
	{
		display: flex;
		font-size: 10px;
	}
	.melu table
	{
		margin-right: 2%;
	}
	.melu .task input
	{
		width: 80px;
		height: auto;
		font-size: 12px;
	}
}